/*banner*/

#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size: cover;
  padding: 738px 0 71px;
  margin-top: -128px;
  h1{
    font-family: "Abril Fatface";
    font-weight: 400;
    font-size: 72px;
    color: #7DB800;
    line-height: 86px;
    margin-bottom: 18px;
  }
}
