/*header*/

#header {
  position: relative;
  background: none;
  padding: 0;
  z-index: 999;
  .row{
    max-width: 1362px;
  }
  .hdLeft{
    text-align: left;
  }
  .hdRight{
    .hdRightTop{
      padding: 10px 20px;
      background: #154D28;
      p{
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 15px;
        color: #FFFFFF;
        margin: 0 auto;
        &:nth-child(1){
          display: inline-block;
          vertical-align: sub;
          width: 55%;
          text-align: left;
        }
        &:nth-child(2){
          width: 44%;
          display: inline-block;
          vertical-align: sub;
          text-align: center;
          span{
            font-size: 22px;
          }
        }
      }
    }
    .hdRightBot{
      nav {
        a#pull {
          display: none;
        }
        ul {
          margin: 0;
          padding: 30.5px 0;
          li {
            display: inline-block;
            vertical-align: middle;
            a {
              font-family: "Montserrat";
              font-weight: 600;
              font-size: 15px;
              color: #888888;
              padding: 30.5px 25px;
            }
            &.active-menu a, a:hover {
              color: #fff;
              background: #7DB901;
            }
          }
        }
      }
    }
  }
}
